<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />


  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="theme-color" content="#f1c40f" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "/favicon.png"}}" />

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/social-buttons.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/highlight-styles/agate.css"}}" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css" />

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

  {{!-- The blog navigation links --}}
  <!-- NICE! YOU FOUND THIS MESSAGE! -->
  <!-- AS A REWARD, HAVE SOME UNIMPLEMENTED NAVIGATION. :) -->
  <!-- {{navigation}} -->

  <header>
    <section>
      <h1><a href={{@blog.url}}>{{@blog.title}}</a></h1>
    </section>
    <blockquote>{{@blog.description}}</blockquote>
    <section>
      <span><a class="twitter-follow-button" href="https://twitter.com/mathdroid">Follow @mathdroid</a> <a class="github-button" href="https://github.com/mathdroid" data-count-href="/mathdroid/followers" data-count-api="/users/mathdroid#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @mathdroid on GitHub">Follow @mathdroid</a></span>
    </section>
  </header>
  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- The tiny footer at the very bottom --}}
  <footer>
    <section>
      <a href="{{@blog.url}}">{{@blog.title}}</a><br />
      &copy; Muhammad Mustadi {{date format="YYYY"}}.
      This is a <a href="https://ghost.org">Ghost</a> blog using <a href="https://github.com/mathdroid/semi-brutalism"><code>semi-brutalism</code></a> theme. <a href="http://mustadi.com">About Me.</a>
    </section>
  </footer>


  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  {{!-- Fitvids makes video embeds responsive and awesome --}}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  {{!-- The main JavaScript file for Casper --}}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/social-buttons.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/highlight.pack.js"}}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
