{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main role="main">
  <article class="{{post_class}}">

    <header>
      <h1 >{{title}}</h1>
      <section>
        <time datetime="{{date format="YYYY-MM-DD"}}">⏰ {{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on 🔖 "}}
      </section>
    </header>

    <section>
      {{content}}
    </section>

    <footer>
      <aside>
        <h3>Share this post:</h3>
        <div class="social-sharing" data-permalink="http://labs.carsonshold.com/social-sharing-buttons">

          <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
          <a href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" class="share-facebook" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">
            <span class="soc icon icon-facebook" aria-hidden="true"></span>
            <span class="share-title">Share</span>
          </a>

          <!-- https://dev.twitter.com/docs/intents -->
          <a href="https://twitter.com/share?text={{encode title}}&amp;via=mathdroid&amp;url={{url absolute="true"}}" class="share-twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="soc icon icon-twitter" aria-hidden="true"></span>
            <span class="share-title">Tweet</span>
          </a>

          <!-- https://developers.google.com/+/web/share/ -->
          <a href="https://plus.google.com/share?url={{url absolute="true"}}" class="share-google" onclick="window.open(this.href, 'google-plus-share', 'width=550,height=235');return false;">
            <span class="soc icon icon-google" aria-hidden="true"></span>
            <span class="share-title">+1</span>
          </a>

          <!-- https://www.reddit.com/buttons -->
          <a href="https://www.reddit.com/submit?url={{url absolute="true"}}&amp;title={{encode title}}" class="share-reddit" onclick="window.open(this.href, 'reddit-share', 'width=550,height=235');return false;">
            <span class="soc icon icon-reddit" aria-hidden="true"></span>
            <span class="share-title">Reddit</span>
          </a>

          <!-- https://developer.linkedin.com/plugins/share -->
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&amp;title={{encode title}}" class="share-linkedin" onclick="window.open(this.href, 'linkedin-share', 'width=550,height=235');return false;">
            <span class="soc icon icon-linkedin" aria-hidden="true"></span>
            <span class="share-title">Share</span>
          </a>

          <!-- http://blogs.skype.com/2015/11/04/introducing-share-button-effortless-sharing-that-sparks-richer-conversations/ -->
          <a href="https://web.skype.com/share?url={{url absolute="true"}}&amp;lang=en-us" class="share-skype" onclick="window.open(this.href, 'skype-share', 'width=550,height=235');return false;">
            <span class="soc icon icon-skype" aria-hidden="true"></span>
            <span class="share-title">Share</span>
          </a>

        </div>
      </aside>

      <hr />
      {{!-- Email subscribe form at the bottom of the page --}}
      {{#if @labs.subscribers}}
      <section>
        <h3>Subscribe to {{@blog.title}}</h3>
        <p>Get the latest posts delivered right to your inbox.</p>
        {{subscribe_form placeholder="Your email address"}}
        <span>or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
      </section>
      {{/if}}

    </footer>

  </article>
</main>

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = 'ghost-{{id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//EXAMPLE.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{{!-- Links to Previous/Next posts --}}
<aside>
  {{#next_post}}
  <blockquote>
    Next article:
  </blockquote>
  <a href="{{url}}">
    <section class="post">
      <h2>{{title}}</h2>
      <p>{{excerpt words="19"}}&hellip;</p>
    </section>
  </a>
  {{/next_post}}
  {{#prev_post}}
  <blockquote>
    Previous article:
  </blockquote>
  <a href="{{url}}">
    <section class="post">
      <h2>{{title}}</h2>
      <p>{{excerpt words="19"}}&hellip;</p>
    </section>
  </a>
  {{/prev_post}}
</aside>

{{/post}}
